*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.img img{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.home{
    height: 500px;
    background-color: rgb(240, 81, 18);
}
.container{
    width: 80%;
    margin: auto;
}
.home-content{
    display: flex;
    width: 100%;
    align-items: center;
    padding-top: 20px;
    justify-content: space-between;
}
.img{
    width: 48%;
    border: 15px solid white;
    height: 400px;
    padding: 0;
    background-color: white;
}
.text{
    width: 48%;
}
.text p{
    margin: 30px 0;
    color: rgb(197, 197, 197);
    font-style: italic;
    line-height: 22px;
}
.text button{
    background-color: rgb(17, 199, 17);
    padding: 8px 16px;
    border: 1px solid rgb(17, 199, 17);
}

.text button a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.text h1{
    color: white;
    font-size: 45px;
}

.section{
    background-color: grey;
    padding: 30px 0;
}
.content-top{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
}
.content-bottom{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.blok-text p{
    line-height: 25px;
}
.content-blok{
    width: 32%;
}
.icon{
    display: flex;
    align-items: center;
}
.icon i{
    font-size: 50px;
    color: blue;
}
.icon h2{
    margin-left: 10px;
}